#header {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
}
#header_replace{
    height: 5em;
}
#navbar{
    margin-top: 2em;
    height: 3em;
    border-bottom: 2px gray groove;
}
#navbar a{
    text-decoration: none;
    color: black;
    border: 2px groove #eeeeee;
    border-radius: 4px;
    padding: 5px;
    background-color: #efefef;
    transition-duration: 0.3s;
}
#navbar a:hover{
    background-color: #c8c7cf;
}
#links{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


.contact_form{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border: 2px black groove;
}
.contact_form label{
    margin-left: auto;
    margin-right: 0.31em;
}

.contact_form label, input{
    margin-top: 10px;
}
.contact_form input[type='submit']{
    margin-left: auto;
    margin-right: 1em;
    height: 3em;
    border-radius: 4px;
    transition-duration: 0.3s;
}
.contact_form input[type='submit']:hover{
    background-color: #c8c7cf;
    cursor: pointer;
}
.contact_form_container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.title{
    width: max-content;
    font-size: 1.7em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#contacts_table{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px black groove;
    border-collapse: collapse;
}
#contacts_table caption{
    font-size: 25px;
    padding: 20px;
}
#contacts_table th{
    background-color: #b7b7b7;
    font-weight: bold;
    font-size: 20px;
}
#contacts_table td, th{
    padding: 0.7em;
}
#contacts_table tr{
    transition-duration: 0.3s;
}
#contacts_table tr:nth-child(n+2):hover{
    background-color: #d8d7df;
}
#contacts_table tr:nth-child(n+2):hover td{
    background: transparent;
}
footer {
    margin-top: 5em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    bottom: 0;
}
.message{
    font-size: 1.2em;
    margin-top: 25px;
    border-radius: 1em;
    padding: 2em;
    background-color: rgba(183, 183, 183, 0.53);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
#saved{
    background-color: rgba(127, 222, 129, 0.53);
}
.error{
    background-color: rgba(255, 0, 0, 0.49);
}