<div class="contact_form_container">
    <div class="title">Lisa kontakt</div>
    <form class="contact_form" method="post" action="?command=save">
        <label>Eesnimi:</label><input id="firstName" name="firstName" type="text">
        <label>Perekonnanimi:</label><input id="lastName" name="lastName" type="text">
        <label>Telefoninumber 1:</label><input id="phone1" name="phone1" type="text">
        <label>Telefoninumber 2:</label><input id="phone2" name="phone2" type="text">
        <label>Telefoninumber 3:</label><input id="phone3" name="phone3" type="text">
        <br>
        <input type="submit" name="submitButton" value="Salvesta">
    </form>
</div>