<div id="header_replace"></div>
<header id="header">
    <nav id="navbar">
        <div id="links">
            {% for link, name in links %}
                <a id="{{link}}-page-link" href="?command=show_{{link}}_page">{{ name }}</a>
            {% endfor %}
        </div>
    </nav>
</header>
