<table id="contacts_table">
    <caption>Kontaktide nimekiri</caption>
    <th>Eesnimi</th><th>Perekonnanimi</th><th>Telefoninumbrid</th>
    {% for line in userData %}
        <tr>
        {% for data in line %}
            <td>{{data}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
