<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="style.css" />
    {% endblock %}
    <title>{{title}}</title>
</head>
<body>
{{include ('header.html', {'links': links})}}
